@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
#container {
    margin: auto;
    width: auto  ;
}
    
#myCanvas {
    background-color: #1F2041;
    border: 3px solid #FFC857;
}
    
#gameover {
    position : absolute;
    top: 200px;
    left: 650px;
    font-size: 25px;
    text-align: center;
    color: #FFC857;
    display: none;
    font-family: 'Press Start 2P', cursive;;
}
    
/* #score {
    width: 600px;
    height: 100px;
    margin: auto;
    background-color: grey;
} */
    
/* #current, 
#highest {
    font-size : 25px;
    color: #1F2041;
    text-align: center;
} */
    
a {
    text-decoration: none;
    color : #FFC857;
}

i {
    color: #FFC857;
    text-align: center;
}
    
/* span {
    color : #FFFFFF;
} */